@font-face {
  font-family:'Lora Italic';src:url('https://static.tumblr.com/mqknr8q/K6npbxn6q/lora-italic.ttf') format('truetype');font-weight:400; }
  
  @font-face {
  font-family:'Lora Italic';src:url('https://static.tumblr.com/mqknr8q/YUQpbxnah/lora-bolditalic.ttf') format('truetype');font-weight:700; }
  
  
  /* tooltips */
  #s-m-t-tooltip {
  max-width:400px;margin:25px 15px;padding:2px 8px 3px 8px;z-index:999999;font:10px 'Barlow';letter-spacing:0.3px;line-height:170%;text-align:justify;font-style:normal;text-transform:none;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;box-shadow:rgba(226,226,226, .7) 2px 2px;border:3px solid #383069;background:#FFFFFF; } 
  
  ::-webkit-scrollbar {
  width:11px;height:11px;background:#010101; }
  ::-webkit-scrollbar-track {
  border:5px solid #010101;background:#010101; }
  ::-webkit-scrollbar-thumb:vertical {
  border:5px solid #010101;background:#010101;min-height:20px;}
  ::-webkit-scrollbar-thumb:horizontal {
  border:5px solid #010101;background:#010101;min-height:20px;}
  ::-moz-selection { background:rgba(255,227,227, .5);color:#000; }
  ::selection { background:rgba(255,227,227, .5);color:#000; }
   
   
  body {
  background-image:linear-gradient(to right, #383069, #010101);background-attachment:fixed;background-size:cover;color:#010101;font-family: 'Barlow';font-size:10px;line-height:110%;letter-spacing:0px;text-align:justify;margin:0;padding:0;-moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; }

*, body, img { cursor:url(https://64.media.tumblr.com/tumblr_lpsjinE94A1qlzq96.png), auto;}

  a {
  color:#383069;text-decoration:none; transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s; }
   
  a:hover, a.tumblr_blog:hover { 
  color:#222222; cursor:Default; transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s; }
     
  b, strong, bold { font-weight:bold;font-size:98%;color:#383069; }
   
  i, italic, em, oblique { font-style:italic;font-size:100%;color:#b5b5b5; }
   
  h1 {
  padding:13px 5px 13px 5px;font: bold 150% 'Barlow', sans-serif;color:#b7cdff;text-align:center;letter-spacing:0px;text-transform:none;line-height:170%;margin:0 0 0 0;background:#fffbee;-moz-border-top-left-radius:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;-moz-border-top-right-radius:7px;-webkit-border-top-right-radius:7px;border-top-right-radius:7px; }  
  
  
  h1 a { 
  box-shadow: 0 -7px #201f24 inset;color:#444444; }
  
  h1 a:hover {
  box-shadow: 0 0px #201f24 inset;color:#222222; }
  
  
  h2, h3, h4, h5 {
  padding:4px 1px 4px 1px;font: bold 100% 'Barlow';text-align:center;letter-spacing:0.5px;text-transform:none;line-height:120%;margin:2px 0 2px 0;background:#ffffff; }  
   
  small, sub, sup, code, big { font-size:100%; }
  
  pre, xmp, plaintext, listing { 
  width:97%;margin:5px 0 0 0;padding:5px;background:linear-gradient(rgba(0, 0, 0, .02),rgba(0, 0, 0, .02)), #ffffff;font-family:'Barlow';font-size:100%;line-height:170%;white-space:pre-wrap;word-wrap:break-word; }
  
  ul, ol { margin:5px 0px 5px 15px; padding:0; }
   
  ul  { margin-left:0; list-style-type:none; }
   
  ul li { padding:1px 0px 1px 20px; position:relative; text-align:left; }
   
  ul li:before  {
  content:'—';top:1px;color:#383069;left:0px;font-size:10px;position:absolute;display:block;font-family:sans-serif; }
  
  hr {
  border: 0;height: 1px;background:#383069;margin:10px 0 10px 0; }
   
   
  
  .sidebar {
  background:#010101;padding:0px;position:absolute;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;box-shadow:rgba(9, 6, 23, .7) 5px 5px;border:3px solid #383069; left:50%; top:50%; transform: translate(-50%, -50%);}
  
  .tit { color:#383069;padding:0 5px 3px 7px;font-weight:bold;text-transform:none;font-size:13px;letter-spacing:0px;word-spacing:2px;text-align:left;font-family:'Barlow';line-height:220%;word-break: break-all;display:block; }
  
  .tit a { color:#383069; }
  
  .tit a:hover { color:#ffffff; }
  
  .simg { position:relative;width:140px; height:120px;float:left;display:block;-moz-border-top-left-radius:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;-moz-border-top-right-radius:7px;-webkit-border-top-right-radius:7px;border-top-right-radius:7px;vertical-align:middle;overflow:hidden;border-bottom:1px dotted #383069; }
  
  .aff { position:relative; }
  
  .aff .feather { 
      float:left;
      clear:left;
      position:absolute;
      text-align:left;
      width:16px;
      top:2px;
      display:block;
      left:7px;
      stroke: #383069;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:none;
      filter:drop-shadow(1px 1px 1px #e2e2e2); }
  
  .simg img {
  position:absolute;width:calc(140px + 1%);height:auto;min-height:45px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-border-top-left-radius:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;-moz-border-top-right-radius:7px;-webkit-border-top-right-radius:7px;border-top-right-radius:7px;overflow:hidden;}
  
  .desc {
  word-wrap:break-word;padding:0 5px 0 10px;text-transform:block;font-family:Barlow, sans-serif;word-spacing:2px;color:#888888;line-height:170%;position:relative;border-top:1px dotted #383069;display:none;width:calc(140px - 15px); }
  
  .desc p { overflow:hidden; }
  
  .desc a {
  box-shadow: 0 -4px #444444 inset;color:#383069; }
  
  .desc a:hover {
  box-shadow: 0 0px #201f24 inset;color:#ffffff; }
  
  
  .menu .feather {
  width:11px;color:#383069;font-family:lato;display:inline-block;margin:-5px 5px 0 5px;
      stroke: #383069;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:none; }
   
  .uwu { text-align:left;display:block; }
  
  .uwu a { display:block; }
  
  .menu i {
  -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-size:10px;padding:4px 4px 2px 4px;margin:0 1px 0 1px;color:#383069; }
  
  .links { 
  display:block;text-align:right;float:right;width:140px;line-height:170%; }
   
  .links a {
  color:#444444;word-wrap:break-word;text-transform:none;font-size:9px;letter-spacing:0px; }
  
  .menu a:hover, .links a:hover {
  color:#222222; }
  
  .menu a:hover { 
  color:#222222;border-bottom:none; }
  
  .menu a { border-bottom:none;display:inline-block;}
  
  .menu { display:flex;margin:0 0 0 -2px; border-top:1px dotted #383069;}
  
  .menu li {
  fill:#383069;padding:6px 3px 0 3px;text-align:center;margin:0 0px 0 0px;color:#383069;font-family:lato;border-left:1px dotted #383069; }
  
  .menu ul { margin-left:0; list-style-type:none; }
   
  .menu li {
  position:relative;display:inline-block;margin:0 0 0 0px; }
  
  .uwu { display:none; }
  
  ul.uwu { margin:0 0 0 0; padding:0; }
  
  ul.uwu  { margin-left:0; list-style-type:none; }
   
  ul.uwu li {display:block;}
  
  ul.uwu li a { padding:5px 5px 3px 7px;border-top:1px dotted #383069;color:#383069;word-wrap:break-word;text-transform:none;font:100% 'Barlow';letter-spacing:0px; display:flex;margin:0 0 2px -19px;transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s; }
  
  ul.uwu li a:hover { color:#dcdcdc;transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s; }
   
  ul.uwu li:before  { content:''; }
  
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  
  button {
      padding: 5px 13px;
      font-size: 9px;
      margin: 2px;
  }